<div>
  <%= render partial: "partials/nav.html.erb" %>

  <%= render partial: "partials/all_post.html.erb" %>
</div>

<div id="post-modal" class="hidden justify-center items-center p-10 absolute right-0 left-0 top-0 bottom-0 bg-opacity-30 bg-black">
  <%= render partial: "partials/form_post.html.erb" %>
</div>
